<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
      <%= render "layouts/left" %>
      <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
          <%= render "layouts/head" %>
        </div>
        <div class="" id="content-main" data-pjax-container>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
